<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355322320933-ubv15hhof2kuunsut8tc5r6r5thrfol3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355322320933-ubv15hhof2kuunsut8tc5r6r5thrfol3</string>
	<key>API_KEY</key>
	<string>AIzaSyAnGFPp31uiWPN4xKTpnB5DfRE37WqrJ_w</string>
	<key>GCM_SENDER_ID</key>
	<string>355322320933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.dzor.dzor-app</string>
	<key>PROJECT_ID</key>
	<string>dzor-application</string>
	<key>STORAGE_BUCKET</key>
	<string>dzor-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355322320933:ios:27aa86f5671e43982cc7cc</string>
	<key>DATABASE_URL</key>
	<string>https://dzor-application.firebaseio.com</string>
</dict>
</plist>